bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/x64/Debug
/SCEngineHelper/x64/Release
/SCEngineHelper/x64/Debug/SCEngineHelper.log
/SCEngineHelper/x64/Debug/SCEngineHelper.sourcelink.json
/SCEngineHelper/x64/Debug/vc143.pdb
/SCEngineHelper/x64/Debug/WindowHandlerUtils.obj
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/CL.command.1.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/Cl.items.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/CL.read.1.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/CL.write.1.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/link.command.1.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/link.read.1.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/link.secondary.1.tlog
/SCEngineHelper/x64/Debug/SCEngineHelper.tlog/link.write.1.tlog
/SCEngineHelper/x64/Debug/CPP.obj
/SCEngineHelper/x64/Debug/.NETCoreApp,Version=v8.0.AssemblyAttributes.obj
/SCEngineHelper/x64/Debug/SCEngineHelper.Build.CppClean.log
/SCEngineHelper/x64/Debug/WindowMethodUtils.obj
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/CL.command.1.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/Cl.items.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/CL.read.1.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/CL.write.1.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/link.command.1.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/link.read.1.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/link.secondary.1.tlog
/SCEngineHelper/x64/Release/SCEngineHelper.tlog/link.write.1.tlog
/SCEngineHelper/x64/Release/.NETCoreApp,Version=v8.0.AssemblyAttributes.obj
/SCEngineHelper/x64/Release/SCEngineHelper.log
/SCEngineHelper/x64/Release/SCEngineHelper.sourcelink.json
/SCEngineHelper/x64/Release/vc143.pdb
/SCEngineHelper/x64/Release/WindowHandlerClass.obj
/SCEngineHelper/x64/Release/WindowHandlerUtils.obj
/x64/Release/SCEngineHelper.dll
/x64/Release/SCEngineHelper.pdb
