bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/x64/Debug
/SCEngineHelper/x64/Release
/SCEngineHelper/x64/Debug/SCEngineHelper.log
/SCEngineHelper/x64/Debug/SCEngineHelper.sourcelink.json
/SCEngineHelper/x64/Debug/vc143.pdb
/SCEngineHelper/x64/Debug/WindowHandlerUtils.obj
